@use '../utils/' as *;

.main {
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      color: #ff6060;
}

.notfound {
      font-weight: 700;
      font-size: 96px;
      margin-top: 130px;

      @media screen and (min-width: 991px) {
            font-weight: 700;
            font-size: 288px;
            margin-top: 80px;
      }
}

.oups {
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      line-height: 25.67px;
      letter-spacing: 0em;
      text-align: center;
      color: #ff6060;
      width: 37%;

      @media screen and (min-width: 991px) {
            font-size: 36px;
            line-height: 51px;
            // margin-top: 66px;
            width: 100%;
      }
}

.backToHome {
      font-size: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #ff6060;
      text-decoration: underline;
      padding-top: 150px;
      padding-bottom: 160px;
      @media screen and (min-width: 991px) {
            padding: 182px;
      }
}
